<div class ="userinfo">
	<h2>Your information:</h2>
	<ul>
		<li>Username: <%= @user.username %></li>
		<li>First Name: <%= @user.fname %></li>
		<li>Last Name: <%= @user.lname %></li>
		<li>Email: <%= @user.email %></li>
	</ul>
	<a href='/manage'>Update your account information</a>
</div>

<!-- Write a Post (Form) -->
<div class="newpost">
	<h2> New Post! </h2>
	<form method='POST' action='/newpost'>
		<label for="title">Title: </label> <input type="text" name="title" required>
		Content: <textarea name="content" rows=4 cols="30" required>  </textarea>
		
		<input type="submit">
	</form>
</div>

<!-- Last 10 Posts by Me (Feed) -->
<h2>Your most recent posts</h2>
<!-- below line takes advantage of object relationships - posts belong to users!-->
<% @user.posts.last(10).each do |p| %>
	<!--if logic restricts to posts made by logged in user -->
		<div class ='post'>
			<p><span class = 'usertitle'><%= User.find(p.user_id).username %></span><br>
			<span class = 'posttitle'><%= p.title %></span><br>
			<span class = 'postcontent'><%= p.content %></p></span>
		</div>
<% end %>

<!-- Last 10 Posts by My Peoples (Feed) -->
<h2>Other people's most recent posts</h2>
<% Post.last(10).each do |p|%>
	<!--if logic restricts to posts NOT made by logged in user -->
	<% if p.user_id != @user.id%>
		<div class ='post'>
			<p><span class = 'usertitle'><%= User.find(p.user_id).username %></span><br>
			<span class = 'posttitle'><%= p.title %></span><br>
			<span class = 'postcontent'><%= p.content %></p></span>
		</div>
	<% end %>	
<% end %>

<!-- Logout -->
<form method='POST' action='/logout'>
	<input type="submit" value="Log Out">
</form>

