<h2>Your information:</h2>
<ul>
	<li>Username: <%= @user.username %></li>
	<li>First Name: <%= @user.fname %></li>
	<li>Last Name: <%= @user.lname %></li>
	<li>Email: <%= @user.email %></li>
</ul>

<a href='/manage'>Update your account information</a>

<!-- Write a Post (Form) -->
<form method='POST' action='/newpost'>
	<label for="title">Title</label> <input type="text" name="title" required>	
	<label for="content">Content</label> <input type="text" name="content" required>	
	<input type="submit">
</form>

<!-- Last 10 Posts by Me (Feed) -->
<h2>Your most recent posts</h2>
<% Post.last(10).each do |p| %>
	<!--if logic restricts to posts made by logged in user -->
	<% if p.user_id == @user.id%>
		<div class ='post'>
			<p><strong><%= User.find(p.user_id).username %></strong>
			<u><%= p.title %></u>
			<%= p.content %></p>
		</div>
	<% end %>
<% end %>

<!-- Last 10 Posts by My Peoples (Feed) -->
<h2>Other people's most recent posts</h2>
<% Post.last(10).each do |p|%>
	<!--if logic restricts to posts NOT made by logged in user -->
	<% if p.user_id != @user.id%>
		<div class ='post'>
			<p><strong><%= User.find(p.user_id).username %></strong>
			<u><%= p.title %></u>
			<%= p.content %></p>
		</div>
	<% end %>	
<% end %>

<!-- Logout -->
<form method='POST' action='/logout'>
	<input type="submit" value="Log Out">
</form>

