All posts by <%= @user_viewed.username %>

<h2><%="#{@user_viewed.username}'s complete posting history"%></h2>
<% @user_viewed.posts.each do |p|%>
	<!--if logic restricts to posts NOT made by logged in user -->
		<div class ='post'>
			<!--p.user will bring back the user -->
			<p><strong><%= p.user.username %></strong>
			<u><%=p.title %></u>
			<%= p.content %></p>
		</div>	
<% end %>